*{
  padding:10px;
  margin:10px;
}
#main-aside-wrapper
{
  display:flex;
  flex-direction:column;
}
#main-aside-wrapper nav{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  background-color: bisque;
  padding:20px;
  box-sizing:border-box;
  margin:0 auto;
}
#a1,#a2,#a3{
  flex:1;
}
header{
  width:100%; 
  background-color: bisque;
   height:120px;
}
#logo{
  float:left; 
  margin:10px; 
  width:100px; 
  height:100px;
}
.leftimg {
    float:left; 
    margin: 7px 7px 7px 0; 
    width: 50px;
    height: 50px;
   }
#tr1,#tr3,#tr5{
  background-color:#CD5C5C;
}
#tr2,#tr4{
  background-color:#DDA0DD;
}
.content{
  width:100%;
  margin-top:20px;
}
.coco_lue
{
  width:100%;
  margin-top:20px;
}
footer{
  width:100%; 
  background-color: bisque; 
  padding: 10px; 
  height:30px;
}
#hyperlinks-table-form
{
  display:flex;
  flex-direction:column;
}
#hyperlinks
{
  background:bisque;
  order:1;
}
#form
{
  background:bisque;
  order:2;
}
#table
{
  background:bisque;
  order:3;
}
@media screen and (min-width:1100px)
{
  #hyperlinks
  {
    order:1;
  }
  #table
  {
    order:2;
  }
  #form
  {
    order:3;
  }
  #main-aside-wrapper
  {
    flex-direction:column;
    align-items:center;
  }
  .content
  {
    width:960px;
    margin:0 auto;
    margin-top:10px;
  }
  .coco_lue
  {
    margin:0 auto;
    width:960px;
  }
  #main-aside-wrapper nav
  {
    flex-direction:row;
    display:flex;
    width:960px;
  }
}